#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=0

PREFIX       := /usr
LISPDIR      := /usr/share/emacs/site-lisp/dvc

include /usr/share/cdbs/1/rules/debhelper.mk

clean::
	[ ! -f Makefile ] || $(MAKE) distclean

configure/dvc::
	autoconf -f -i
	./configure PACKAGE_VERSION=$(DEB_VERSION) --prefix=$(PREFIX) --with-lispdir=$(LISPDIR)
	$(MAKE) info
