[submodule "site/magit"]
	path = site/magit
	url = git://github.com/magit/magit.git
[submodule "site/org-mode"]
	path = site/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "site/slime"]
	path = site/slime
	url = git://sbcl.boinkor.net/slime.git
[submodule "site/swank-js"]
	path = site/swank-js
	url = git://github.com/ivan4th/swank-js.git
[submodule "site/emacs_chrome"]
	path = site/emacs_chrome
	url = git://github.com/stsquad/emacs_chrome.git
